# Finetuning of BERT for NER

This notebook contains all the steps for the finetuning of French version of BERT, the objective is to extract specific information from french public business agreements. For this we have a dual approach, first we classify information and then only we use NER property of our model to extract wage variations.

Sources: This notebook is inspired from a masterclass and notebook provided by [Thomas Boehler](https://fr.linkedin.com/in/thomas-boehler-ba34a744) and also the work of my colleagues [Mouad Bernoussi](https://ma.linkedin.com/in/mouad-bernoussi-00aa91242) (see ./notebooks/external) and [Conrad Thiounn](https://github.com/cthiounn).

Try

1. Play with PyTorch
2. Play with the model 
3. Adapt data to BERT format (see Thomas Boehler)
4. Create training

In [172]:
import torch
import torch.nn as nn
import pandas as pd
import json
import sys
sys.path.append("../../src/")
from spacy_utils import import_label_studio_data

## try with conll

In [97]:
def charge_conll(path:str):
    # Initialize a list to store the data
    conll_data = []

    # Open the CoNLL file in read mode
    with open(path, 'r', encoding='utf-8') as file:
        conll_data = file.read()
        # Read each line in the file

    # Split the data into sentences
    sentences = conll_data.strip().split('\n\n')

    # Initialize empty lists to store text and labels
    text_list = []
    labels_list = []

    # Process each sentence
    for sentence in sentences:
        tokens = sentence.split('\n')
        text = " ".join(token.split()[0] for token in tokens)
        labels = " ".join(token.split()[-1] for token in tokens)
        text_list.append(text)
        labels_list.append(labels)

    # Create a dataframe
    df = pd.DataFrame({'text': text_list, 'label': labels_list})

    return df

In [143]:
# Specify the file path to your CoNLL file
conll_file_path = r'../../data/raw/data449.conll'  # Replace with your file path

# Initialize a list to store the data
conll_data = []

# Open the CoNLL file in read mode
with open(conll_file_path, 'r', encoding='utf-8') as file:
    conll_data = file.read()
    # Read each line in the file

# Split the data into sentences
sentences = conll_data.strip().split('\n\n')

# Initialize empty lists to store text and labels
text_list = []
labels_list = []

# Process each sentence
for sentence in sentences:
    tokens = sentence.split('\n')
    text = " ".join(token.split()[0] for token in tokens)
    labels = " ".join(token.split()[-1] for token in tokens)
    text_list.append(text)
    labels_list.append(labels)

# Create a dataframe
df = pd.DataFrame({'text': text_list, 'label': labels_list})

# Print the dataframe
print(df)

                                                  text  \
0    -DOCSTART- evolution des salaires de base : en...
1    l’enveloppe globale d’augmentation des rémunér...
2    dispositions au regard de l’implication de tou...
3    nous travaillons sur une politique de rémunéra...
4    protocole d’accord négociation annuelle obliga...
..                                                 ...
444  negociation annuelle 2022. il a été convenu et...
445  négociations annuelles obligatoires. ii- dispo...
446  accord collectif 2022 sur les salaires , la du...
447  damart sa etablissement. article i : augmentat...
448  entre l’ues kiabi , représentée par , directeu...

                                                 label
0    O O O O O O O O O O O O O O O O O O O O O O O ...
1    O O O O O O O O O O O O O O O O O O O O O O O ...
2    O O O O O O O O O O O O O O O O B-SYND O B-DIR...
3    O O O O O O O O O O O O O O O O O O O O O O O ...
4    O O O O O O O O O B-DIR O O O O B-ENT I-ENT O ...
..                                                 ...
444  O O O O O O O O O O O O O O O O O O O B-OUV O ...
445  O O O O O O O O O O O O O O O O O O O O O O O ...
446  O O O O O O O O O O O O O O O O O O O O O O O ...
447  B-ENT O O O O O O O O O O O O O O B-OUV O B-OU...
448  O O B-ENT O O O O B-DIR I-DIR I-DIR I-DIR O B-...

[449 rows x 2 columns]

In [4]:
from transformers import AutoTokenizer, AutoModelForTokenClassification

tokenizer = AutoTokenizer.from_pretrained("Jean-Baptiste/camembert-ner")
model = AutoModelForTokenClassification.from_pretrained("Jean-Baptiste/camembert-ner")

In [149]:
def turn_sentence_to_list(sentence):
    """
    Turn a sentence into a list of tokens

    Args:
        sentence (str): sentence to tokenize

    Returns:
        list: list of tokens
    """
    return [token for token in sentence.split(" ")]

# def turn_sentence_to_list(sentence):
#     """
#     Turn a sentence into a list of words

#     Args:
#         sentence (str): sentence to tokenize

#     Returns:
#         list: list of words
#     """
#     return sentence.split()


def list_to_string(input_list, separator=' '):
    """
    Convert a list of strings into a single string with elements separated by a specified separator.

    :param input_list: List of strings to be converted.
    :param separator: The separator to use between elements (default is a space).
    :return: A single string containing the list elements.
    """
    return separator.join(input_list)

def change_ids(list_ids:list, new_id:dict):
    return [new_id.get(id) for id in list_ids]

In [73]:
new_id = {"O":0,"B-SYND":1, "I-SYND":1, "SYND":1, "B-DIR":2, "I-DIR":2, "DIR":2, "B-DATE":4, "I-DATE":4, "DATE":4, "B-ENT":3, "I-ENT":3, "ENT":3, "B-CAD":5, "I-CAD":5, "CAD":5, "B-INT":6, "I-INT":6, "INT":6,"B-OUV":7, "I-OUV":7, "OUV":7, "B-NCAD":8, "I-NCAD":8, "NCAD":8,"B-NOUV":9, "I-NOUV":9, "NOUV":9, "B-TOUS":10,"I-TOUS":10, "TOUS":10, "B-AG CAD":11,"I-AG CAD":11, "AG CAD":11, "B-AG INT":12, "I-AG INT":12, "AG INT":12, "B-AG OUV":13, "I-AG OUV":13, "AG OUV":13,"B-AG NCAD":14, "I-AG NCAD":14, "AG NCAD":14, "B-AG NOUV":15, "I-AG NOUV":15, "AG NOUV":15,"B-AI CAD":16, "I-AI CAD":16,"AI CAD":16,"B-AI INT":17, "I-AI INT":17, "AI INT":17,"B-AI OUV":18, "I-AI OUV":18,"AI OUV":18,"B-AI NCAD":19, "I-AI NCAD":19,"AI NCAD":19,"B-AI NOUV":20, "I-AI NOUV":20, "AI NOUV":20, "B-AG":21, "I-AG":21, "AG":21,"B-AI":22, "I-AI":22,"AI":22,"B-ATOT":23,"I-ATOT":23, "ATOT":23,"B-ATOT CAD":24, "I-ATOT CAD":24, "ATOT CAD":24,"B-ATOT INT":25, "I-ATOT INT":25,"ATOT INT":25,"B-ATOT OUV":26, "I-ATOT OUV":26, "ATOT OUV":26,"B-ATOT NCAD":27, "I-ATOT NCAD":27, "ATOT NCAD":27,"B-ATOT NOUV":28, "I-ATOT NOUV":28, "ATOT NOUV":28,"B-PPV":29, "I-PPV":29, "PPV":29,"B-PPVm":30, "I-PPVm":30, "PPVm":30}

df["new_labels"]=df["label"].apply(lambda x: change_ids(x.split(" "), new_id))

In [75]:
print(df["new_labels"][5])
print(df["label"][5])

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 8, 8, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 21, 21, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
O O O O O O O O O O O O O O O B-ENT I-ENT O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O B-NCAD I-NCAD O O O O O O O O O O O O O O O O O O O O O O O O AG AG O O O O O O O O O O O O O O O O O O O O O O O O O O O O O CAD CAD O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O B-ENT I-ENT O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O

In [96]:
# we check that we haven't left non-numeric labels


def check_labels(list_labels:list):
    for label in list_labels:
        if type(label)!=int:
            print(label)
            return False
    return True

# amount = [df["new_labels"].apply(lambda x: check_labels(x))]

def count_error(dataframe, column:str):
    """
    Count the number of errors - a cell containing a non numerical value - in a column of a dataframe

    Args:
        dataframe (pd.DataFrame): dataframe to check
        column (str): column to check

    Returns:
        int: number of errors
    """
    return len(df[column])- sum(dataframe[column].apply(lambda x: check_labels(x)))

print(f"nombre d'erreurs: {count_error(df, 'new_labels')}")

nombre d'erreurs: 0

In [6]:
texts = df["text"].tolist()
start = 0

for text in texts: 
    text = turn_sentence_to_list(text)
    tokens = tokenizer(text, is_split_into_words=True)
    tokens_mod = tokenizer.convert_ids_to_tokens(tokens["input_ids"])
    length = len(tokens_mod)
    if length > 512:
        start += 1
        print(length)
    else:
        pass

print(start)

AttributeError: 'list' object has no attribute 'split'

JB NER is probably not suited since we lost 182 texts, which is too much, due to context limit. We can eventually try to split the text into 512 tokens chunks.

In [7]:
import pandas as pd
from collections import defaultdict

# Sample data in CoNLL format
conll_data = r'../../data/raw/data449.conll'

with open(conll_data, 'r', encoding='utf-8') as file:
    conll_data = file.read()

# Split the data into sentences
sentences = conll_data.strip().split('\n\n')

# Initialize empty lists and a variable to keep track of the current sentence length
text_list = []
labels_list = []
current_length = 0

# Define the maximum token length for a chunk
max_chunk_length = 512

# Initialize a dictionary to keep track of chunks
chunked_data = defaultdict(list)

# Process each sentence
for sentence in sentences:
    tokens = sentence.split('\n')
    text = " ".join(token.split()[0] for token in tokens)
    labels = " ".join(token.split()[-1] for token in tokens)
    
    # Check if adding this sentence will exceed the maximum chunk length
    if current_length + len(tokens) <= max_chunk_length:
        # Add this sentence to the current chunk
        text_list.append(text)
        labels_list.append(labels)
        current_length += len(tokens)
    else:
        # Start a new chunk
        chunked_data['text'].append(text_list)
        chunked_data['label'].append(labels_list)
        
        # Reset the current chunk
        text_list = [text]
        labels_list = [labels]
        current_length = len(tokens)

# Add the last chunk
chunked_data['text'].append(text_list)
chunked_data['label'].append(labels_list)

# Create a dataframe from the chunked data
df = pd.DataFrame(chunked_data)

# Print the dataframe
print(df)

                                                  text  \
0    [-DOCSTART- evolution des salaires de base : e...
1    [l’enveloppe globale d’augmentation des rémuné...
2    [dispositions au regard de l’implication de to...
3    [nous travaillons sur une politique de rémunér...
4    [protocole d’accord négociation annuelle oblig...
..                                                 ...
404  [negociation annuelle 2022. article 1 – mesure...
405  [négociations annuelles obligatoires. ii- disp...
406  [accord collectif 2022 sur les salaires , la d...
407  [damart sa etablissement. article i : augmenta...
408  [entre l’ues kiabi , représentée par , directe...

                                                 label
0    [O O O O O O O O O O O O O O O O O O O O O O O...
1    [O O O O O O O O O O O O O O O O O O O O O O O...
2    [O O O O O O O O O O O O O O O O B-SYND O B-DI...
3    [O O O O O O O O O O O O O O O O O O O O O O O...
4    [O O O O O O O O O B-DIR O O O O B-ENT I-ENT O...
..                                                 ...
404  [O O O O O O O O O B-OUV O O O O O O O O O O O...
405  [O O O O O O O O O O O O O O O O O O O O O O O...
406  [O O O O O O O O O O O O O O O O O O O O O O O...
407  [B-ENT O O O O O O O O O O O O O O B-OUV O B-O...
408  [O O B-ENT O O O O B-DIR I-DIR I-DIR I-DIR O B...

[409 rows x 2 columns]

In [155]:
# Example usage:
def format_text(df):
    formated_text = []

    text = df["text"]
    for i in text:
        i = turn_sentence_to_list(i)
        formated_text.append(i)

    # we add it to the dataframe
    df["formated_text"] = formated_text
    return df

formated_text = []

# text = df["text"]
# for i in text:
#     i = turn_sentence_to_list(i)
#     formated_text.append(i)

# # we add it to the dataframe
# df["formated_text"] = formated_text
# df = format_text(df)

now we format the label to the right format

In [156]:
def format_labels(df):
    labels = df["label"].tolist()

    formated_labels = []

    for label in labels:
        # label = list_to_string(label)
        label = turn_sentence_to_list(label)
        formated_labels.append(label)
        # print(label)

    # we add it to the dataframe

    df["formated_labels"] = formated_labels
    return df

In [178]:
def select_columns(df, columns:list):
    df = df[columns].copy()
    return df

df = select_columns(df, columns=["formated_text", "formated_labels"])

# df = df.rename(columns={"formated_text": "text", "formated_labels": "label"})

In [11]:
# We check the length of the two columns so that they are of the same dimensions

start = 0

for i in range(len(df["text"])):
    if len(df['text'][i]) != len(df['label'][i]):
        start += 1
    else:
        pass

print("les éléments dont la dimension diverge sont au nombre de",start)

les éléments dont la dimension diverge sont au nombre de 0

In [172]:
df.head()

,text,label
0,"[-DOCSTART-, evolution, des, salaires, de, bas...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ..."
1,"[l’enveloppe, globale, d’augmentation, des, ré...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ..."
2,"[dispositions, au, regard, de, l’implication, ...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ..."
3,"[nous, travaillons, sur, une, politique, de, r...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ..."
4,"[protocole, d’accord, négociation, annuelle, o...","[O, O, O, O, O, O, O, O, O, B-DIR, O, O, O, O,..."

We start tokenizing the text

In [18]:
type(df["text"][0][0])

str

In [19]:
tokenized_input = tokenizer(df["text"][0], is_split_into_words=True)
tokens = tokenizer.convert_ids_to_tokens(tokenized_input["input_ids"])
print(tokenized_input)

{'input_ids': [5, 67, 342, 5363, 7486, 11485, 26, 599, 14573, 20, 8058, 8, 494, 43, 10182, 11558, 43, 51, 30, 13646, 128, 19, 1503, 27, 17, 12, 16886, 11558, 5670, 15, 17, 12, 2010, 20, 8058, 8, 494, 20, 4891, 7826, 68, 3306, 25, 1337, 21, 7, 14, 22745, 37, 1044, 19, 214, 643, 10121, 10, 18, 12, 28806, 15, 28, 3708, 21, 7, 5826, 55, 205, 7, 929, 453, 8, 13, 2269, 16054, 9, 8, 82, 21, 7, 19, 17218, 16850, 10, 22, 8001, 25, 4360, 8, 494, 3138, 263, 163, 22, 93, 125, 27, 16, 4360, 20, 4891, 5552, 9, 24, 3232, 21, 7, 4953, 15, 13, 462, 16054, 18, 12, 35, 1187, 17, 5337, 537, 642, 35, 21, 7, 16, 20692, 297, 759, 28, 1141, 1627, 15, 17, 12, 2010, 25, 4360, 8, 494, 8, 58, 18010, 29, 58, 6230, 21, 7, 22, 3184, 22, 8590, 43, 77, 2283, 32, 17, 12, 520, 77, 2283, 29, 13, 1083, 1363, 13, 2283, 20, 4412, 8733, 36, 93, 359, 8, 1337, 16, 459, 128, 77, 1266, 29, 17, 12, 4515, 8, 4360, 14, 77, 2283, 29, 13, 1083, 38, 951, 169, 350, 8, 325, 3009, 21, 7, 23, 18010, 45, 7826, 34, 68, 3306, 38, 165, 16918, 10, 936, 575, 3642, 2135, 18, 12, 70, 3708, 8, 4360, 2325, 632, 257, 12, 169, 712, 453, 25, 1622, 8, 13, 15570, 3591, 9731, 24, 58, 31, 113, 3368, 21, 7, 14, 12385, 19395, 13, 1993, 8, 58, 7333, 936, 586, 4110, 43, 19, 4891, 7826, 68, 3306, 25, 1337, 21, 7, 31, 27374, 19, 643, 18, 12, 28806, 15, 28, 3708, 25, 4360, 8, 494, 21, 7, 14, 31, 56, 2559, 36, 124, 108, 871, 325, 3009, 21, 7, 2135, 263, 18, 12, 70, 2196, 18, 12, 5314, 25, 4360, 8, 494, 8, 23945, 1163, 6201, 10, 34, 674, 9, 19, 4891, 16918, 10, 45, 2325, 2135, 25, 1520, 1458, 8, 78, 586, 21, 7, 173, 25936, 16, 3767, 8, 97, 6230, 21, 7, 48, 21221, 8625, 16, 5652, 161, 431, 8, 4870, 9, 16, 1520, 8, 17, 12, 5314, 210, 909, 305, 728, 24, 19, 4891, 15, 125, 9105, 10, 9, 749, 18, 12, 1663, 43, 19, 8211, 8, 4360, 5931, 36, 689, 724, 519, 9819, 36, 124, 108, 697, 325, 3009, 9, 724, 118, 43, 4870, 4110, 24, 19, 4891, 174, 13, 1266, 29, 17, 12, 4515, 30, 7318, 47, 2731, 15, 124, 7, 2195, 8, 97, 6230, 43, 24, 19, 4891, 26962, 18, 12, 70, 922, 12765, 8, 135, 250, 1858, 22, 25922, 21, 7, 2559, 36, 124, 108, 871, 325, 3009, 21, 7, 7826, 68, 3306, 25, 1337, 14, 174, 13, 1266, 29, 17, 12, 4515, 30, 2731, 15, 124, 7, 2195, 21, 7, 28, 4870, 8, 23945, 984, 6201, 10, 210, 21336, 22, 697, 325, 3009, 9, 44, 1520, 210, 909, 305, 728, 24, 19, 4891, 15, 125, 9105, 10, 9, 724, 135, 43, 11522, 14, 13486, 10, 43, 22, 325, 3009, 21, 7, 17, 12, 2010, 1050, 20, 4891, 353, 28, 4712, 9, 163, 21, 7, 18971, 453, 8, 13, 2269, 16054, 210, 5670, 68, 11522, 14, 13486, 10, 21, 9, 6], 'attention_mask': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}

In [21]:
token_input = tokenizer(df['text'][0], is_split_into_words=True)
print(token_input)

tokens = tokenizer.convert_ids_to_tokens(token_input["input_ids"])
print(tokens)

{'input_ids': [5, 67, 342, 5363, 7486, 11485, 26, 599, 14573, 20, 8058, 8, 494, 43, 10182, 11558, 43, 51, 30, 13646, 128, 19, 1503, 27, 17, 12, 16886, 11558, 5670, 15, 17, 12, 2010, 20, 8058, 8, 494, 20, 4891, 7826, 68, 3306, 25, 1337, 21, 7, 14, 22745, 37, 1044, 19, 214, 643, 10121, 10, 18, 12, 28806, 15, 28, 3708, 21, 7, 5826, 55, 205, 7, 929, 453, 8, 13, 2269, 16054, 9, 8, 82, 21, 7, 19, 17218, 16850, 10, 22, 8001, 25, 4360, 8, 494, 3138, 263, 163, 22, 93, 125, 27, 16, 4360, 20, 4891, 5552, 9, 24, 3232, 21, 7, 4953, 15, 13, 462, 16054, 18, 12, 35, 1187, 17, 5337, 537, 642, 35, 21, 7, 16, 20692, 297, 759, 28, 1141, 1627, 15, 17, 12, 2010, 25, 4360, 8, 494, 8, 58, 18010, 29, 58, 6230, 21, 7, 22, 3184, 22, 8590, 43, 77, 2283, 32, 17, 12, 520, 77, 2283, 29, 13, 1083, 1363, 13, 2283, 20, 4412, 8733, 36, 93, 359, 8, 1337, 16, 459, 128, 77, 1266, 29, 17, 12, 4515, 8, 4360, 14, 77, 2283, 29, 13, 1083, 38, 951, 169, 350, 8, 325, 3009, 21, 7, 23, 18010, 45, 7826, 34, 68, 3306, 38, 165, 16918, 10, 936, 575, 3642, 2135, 18, 12, 70, 3708, 8, 4360, 2325, 632, 257, 12, 169, 712, 453, 25, 1622, 8, 13, 15570, 3591, 9731, 24, 58, 31, 113, 3368, 21, 7, 14, 12385, 19395, 13, 1993, 8, 58, 7333, 936, 586, 4110, 43, 19, 4891, 7826, 68, 3306, 25, 1337, 21, 7, 31, 27374, 19, 643, 18, 12, 28806, 15, 28, 3708, 25, 4360, 8, 494, 21, 7, 14, 31, 56, 2559, 36, 124, 108, 871, 325, 3009, 21, 7, 2135, 263, 18, 12, 70, 2196, 18, 12, 5314, 25, 4360, 8, 494, 8, 23945, 1163, 6201, 10, 34, 674, 9, 19, 4891, 16918, 10, 45, 2325, 2135, 25, 1520, 1458, 8, 78, 586, 21, 7, 173, 25936, 16, 3767, 8, 97, 6230, 21, 7, 48, 21221, 8625, 16, 5652, 161, 431, 8, 4870, 9, 16, 1520, 8, 17, 12, 5314, 210, 909, 305, 728, 24, 19, 4891, 15, 125, 9105, 10, 9, 749, 18, 12, 1663, 43, 19, 8211, 8, 4360, 5931, 36, 689, 724, 519, 9819, 36, 124, 108, 697, 325, 3009, 9, 724, 118, 43, 4870, 4110, 24, 19, 4891, 174, 13, 1266, 29, 17, 12, 4515, 30, 7318, 47, 2731, 15, 124, 7, 2195, 8, 97, 6230, 43, 24, 19, 4891, 26962, 18, 12, 70, 922, 12765, 8, 135, 250, 1858, 22, 25922, 21, 7, 2559, 36, 124, 108, 871, 325, 3009, 21, 7, 7826, 68, 3306, 25, 1337, 14, 174, 13, 1266, 29, 17, 12, 4515, 30, 2731, 15, 124, 7, 2195, 21, 7, 28, 4870, 8, 23945, 984, 6201, 10, 210, 21336, 22, 697, 325, 3009, 9, 44, 1520, 210, 909, 305, 728, 24, 19, 4891, 15, 125, 9105, 10, 9, 724, 135, 43, 11522, 14, 13486, 10, 43, 22, 325, 3009, 21, 7, 17, 12, 2010, 1050, 20, 4891, 353, 28, 4712, 9, 163, 21, 7, 18971, 453, 8, 13, 2269, 16054, 210, 5670, 68, 11522, 14, 13486, 10, 21, 9, 6], 'attention_mask': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
['<s>', '▁-', 'D', 'OC', 'ST', 'ART', '-', '▁e', 'volution', '▁des', '▁salaires', '▁de', '▁base', '▁:', '▁enveloppe', '▁budgétaire', '▁:', '▁il', '▁est', '▁convenu', '▁entre', '▁les', '▁parties', '▁que', '▁l', '’', 'enveloppe', '▁budgétaire', '▁consacrée', '▁à', '▁l', '’', 'évolution', '▁des', '▁salaires', '▁de', '▁base', '▁des', '▁collaborateurs', '▁répondant', '▁aux', '▁attentes', '▁du', '▁poste', '▁', ',', '▁et', '▁remplissant', '▁par', '▁ailleurs', '▁les', '▁autres', '▁conditions', '▁habituelle', 's', '▁d', '’', 'éligibilité', '▁à', '▁une', '▁augmentation', '▁', ',', '▁représenter', 'a', '▁5', ',', '8', '▁%', '▁de', '▁la', '▁masse', '▁salariale', '.', '▁de', '▁fait', '▁', ',', '▁les', '▁primes', '▁exprimée', 's', '▁en', '▁pourcentage', '▁du', '▁salaire', '▁de', '▁base', '▁augmenter', 'ont', '▁ainsi', '▁en', '▁même', '▁temps', '▁que', '▁le', '▁salaire', '▁des', '▁collaborateurs', '▁concernés', '.', '▁pour', '▁rappel', '▁', ',', '▁conformément', '▁à', '▁la', '▁politique', '▁salariale', '▁d', '’', 'e', 'li', '▁l', 'illy', '▁&', '▁ci', 'e', '▁', ',', '▁le', '▁supervise', 'ur', '▁prend', '▁une', '▁décision', '▁quant', '▁à', '▁l', '’', 'évolution', '▁du', '▁salaire', '▁de', '▁base', '▁de', '▁son', '▁collaborateur', '▁dans', '▁son', '▁échelle', '▁', ',', '▁en', '▁prenant', '▁en', '▁considération', '▁:', '▁sa', '▁performance', '▁sur', '▁l', '’', 'année', '▁sa', '▁performance', '▁dans', '▁la', '▁durée', '*', '▁la', '▁performance', '▁des', '▁collègues', '▁situés', '▁au', '▁même', '▁niveau', '▁de', '▁poste', '▁le', '▁rapport', '▁entre', '▁sa', '▁position', '▁dans', '▁l', '’', 'échelle', '▁de', '▁salaire', '▁et', '▁sa', '▁performance', '▁dans', '▁la', '▁durée', '▁(', '▁*', 'à', '▁partir', '▁de', '▁20', '23', '▁', ',', '▁un', '▁collaborateur', '▁ne', '▁répondant', '▁pas', '▁aux', '▁attentes', '▁(', '▁non', '▁éligible', 's', '▁)', '▁pourrait', '▁néanmoins', '▁bénéficier', '▁d', '’', 'une', '▁augmentation', '▁de', '▁salaire', '▁pouvant', '▁aller', '▁jusqu', '’', 'à', '▁50', '▁%', '▁du', '▁maximum', '▁de', '▁la', '▁fourchette', '▁pre', 'vue', '▁pour', '▁son', '▁qui', 'nt', 'ile', '▁', ',', '▁et', '▁perce', 'vra', '▁la', '▁moitié', '▁de', '▁son', '▁variable', '▁)', '▁mesure', '▁exceptionnelle', '▁:', '▁les', '▁collaborateurs', '▁répondant', '▁aux', '▁attentes', '▁du', '▁poste', '▁', ',', '▁qui', '▁remplissent', '▁les', '▁conditions', '▁d', '’', 'éligibilité', '▁à', '▁une', '▁augmentation', '▁du', '▁salaire', '▁de', '▁base', '▁', ',', '▁et', '▁qui', '▁sont', '▁présents', '▁au', '▁1', 'er', '▁avril', '▁20', '23', '▁', ',', '▁bénéficier', 'ont', '▁d', '’', 'une', '▁garantie', '▁d', '’', 'augmentation', '▁du', '▁salaire', '▁de', '▁base', '▁de', '▁1300', '€', '▁brut', 's', '▁pas', '▁an', '.', '▁les', '▁collaborateurs', '▁éligible', 's', '▁ne', '▁pouvant', '▁bénéficier', '▁du', '▁montant', '▁total', '▁de', '▁cette', '▁mesure', '▁', ',', '▁car', '▁atteignant', '▁le', '▁plafond', '▁de', '▁leur', '▁échelle', '▁', ',', '▁se', '▁verront', '▁verser', '▁le', '▁complément', '▁sous', '▁forme', '▁de', '▁prime', '.', '▁le', '▁montant', '▁de', '▁l', '’', 'augmentation', '▁sera', '▁pro', 'ra', 'té', '▁pour', '▁les', '▁collaborateurs', '▁à', '▁temps', '▁partiel', 's', '.', '▁date', '▁d', '’', 'application', '▁:', '▁les', '▁évolutions', '▁de', '▁salaire', '▁prévues', '▁au', '▁présent', '▁article', '▁seront', '▁applicables', '▁au', '▁1', 'er', '▁mars', '▁20', '23', '.', '▁article', '▁2', '▁:', '▁prime', '▁exceptionnelle', '▁pour', '▁les', '▁collaborateurs', '▁dont', '▁la', '▁position', '▁dans', '▁l', '’', 'échelle', '▁est', '▁égale', '▁ou', '▁supérieure', '▁à', '▁1', ',', '25', '▁de', '▁leur', '▁échelle', '▁:', '▁pour', '▁les', '▁collaborateurs', '▁justifiant', '▁d', '’', 'une', '▁présence', '▁effective', '▁de', '▁3', '▁mois', '▁minimum', '▁en', '▁2022', '▁', ',', '▁présents', '▁au', '▁1', 'er', '▁avril', '▁20', '23', '▁', ',', '▁répondant', '▁aux', '▁attentes', '▁du', '▁poste', '▁et', '▁dont', '▁la', '▁position', '▁dans', '▁l', '’', 'échelle', '▁est', '▁supérieure', '▁à', '▁1', ',', '25', '▁', ',', '▁une', '▁prime', '▁de', '▁1300', '▁€', '▁brut', 's', '▁sera', '▁versée', '▁en', '▁mars', '▁20', '23', '.', '▁ce', '▁montant', '▁sera', '▁pro', 'ra', 'té', '▁pour', '▁les', '▁collaborateurs', '▁à', '▁temps', '▁partiel', 's', '.', '▁article', '▁3', '▁:', '▁promotions', '▁et', '▁ajustement', 's', '▁:', '▁en', '▁20', '23', '▁', ',', '▁l', '’', 'évolution', '▁professionnelle', '▁des', '▁collaborateurs', '▁reste', '▁une', '▁priorité', '.', '▁ainsi', '▁', ',', '▁0,3', '▁%', '▁de', '▁la', '▁masse', '▁salariale', '▁sera', '▁consacrée', '▁aux', '▁promotions', '▁et', '▁ajustement', 's', '▁', '.', '</s>']

In [215]:
word_ids = token_input.word_ids()
print(word_ids)

def align_labels(word_ids:list, tag_list:list):
    aligned_labels = []
    for i in word_ids:
        if i is None:
            aligned_labels.append(-100)
        else:
            aligned_labels.append(tag_list[i])
    return aligned_labels

aligned_labels = align_labels(word_ids, tag_list=df["new_labels"][0])
# aligned_labels = create_aligned_labels(word_ids, example=df)

print(aligned_labels)
print(len(aligned_labels))
print(len(word_ids))

[None, 0, 0, 0, 0, 0, 0, 1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 17, 17, 18, 19, 20, 21, 21, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 33, 34, 35, 36, 37, 38, 39, 40, 41, 41, 42, 42, 42, 43, 44, 45, 46, 46, 47, 47, 48, 48, 48, 49, 50, 51, 52, 53, 53, 54, 55, 56, 56, 57, 58, 59, 59, 60, 61, 62, 63, 64, 65, 66, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 76, 77, 78, 79, 79, 80, 81, 82, 83, 84, 85, 85, 85, 85, 86, 86, 87, 88, 88, 89, 89, 90, 91, 91, 92, 93, 94, 95, 96, 97, 97, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 117, 117, 118, 119, 120, 121, 122, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 139, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 149, 150, 151, 152, 152, 153, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 163, 164, 165, 166, 167, 168, 168, 168, 169, 170, 171, 172, 173, 174, 174, 174, 175, 176, 177, 178, 179, 180, 181, 182, 182, 183, 184, 185, 185, 185, 186, 186, 187, 188, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 205, 206, 207, 208, 209, 210, 210, 210, 211, 212, 213, 214, 215, 216, 217, 218, 218, 219, 220, 221, 222, 223, 224, 224, 225, 226, 226, 227, 227, 228, 228, 229, 229, 229, 230, 231, 231, 231, 232, 233, 234, 235, 236, 237, 237, 238, 238, 239, 240, 240, 241, 242, 243, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 253, 254, 255, 256, 257, 258, 259, 260, 261, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 270, 271, 272, 273, 274, 274, 274, 275, 276, 276, 276, 277, 278, 279, 280, 281, 282, 282, 282, 283, 284, 284, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 297, 298, 299, 299, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 312, 312, 313, 314, 315, 316, 317, 318, 318, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 327, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 336, 337, 338, 339, 339, 340, 341, 341, 342, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 353, 353, 354, 355, 356, 357, 357, 357, 358, 358, 359, 360, 361, 362, 363, 364, 364, 365, 366, 367, 368, 369, 369, 369, 370, 371, 372, 373, 373, 373, 374, 375, 376, 377, 378, 379, 379, 379, 380, 381, 382, 383, 384, 385, 385, 386, 387, 388, 388, 389, 389, 390, 390, 390, 391, 392, 393, 394, 395, 396, 396, 397, 398, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 410, 411, 411, None]
[-100, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 10, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 23, 23, 23, 23, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 4, 4, 4, 4, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -100]
527
527

In [191]:
df["word_ids"] = df["text"].apply(lambda x: tokenizer(x, is_split_into_words=True).word_ids())
df["aligned_labels"] = df.apply(lambda x: align_labels(x["word_ids"], x["label"]), axis=1)

In [46]:
list(zip(tokens, aligned_labels))

[('<s>', -100),
 ('▁-', 'O'),
 ('D', 'O'),
 ('OC', 'O'),
 ('ST', 'O'),
 ('ART', 'O'),
 ('-', 'O'),
 ('▁e', 'O'),
 ('volution', 'O'),
 ('▁des', 'O'),
 ('▁salaires', 'O'),
 ('▁de', 'O'),
 ('▁base', 'O'),
 ('▁:', 'O'),
 ('▁enveloppe', 'O'),
 ('▁budgétaire', 'O'),
 ('▁:', 'O'),
 ('▁il', 'O'),
 ('▁est', 'O'),
 ('▁convenu', 'O'),
 ('▁entre', 'O'),
 ('▁les', 'O'),
 ('▁parties', 'O'),
 ('▁que', 'O'),
 ('▁l', 'O'),
 ('’', 'O'),
 ('enveloppe', 'O'),
 ('▁budgétaire', 'O'),
 ('▁consacrée', 'O'),
 ('▁à', 'O'),
 ('▁l', 'O'),
 ('’', 'O'),
 ('évolution', 'O'),
 ('▁des', 'O'),
 ('▁salaires', 'O'),
 ('▁de', 'O'),
 ('▁base', 'O'),
 ('▁des', 'B-TOUS'),
 ('▁collaborateurs', 'I-TOUS'),
 ('▁répondant', 'O'),
 ('▁aux', 'O'),
 ('▁attentes', 'O'),
 ('▁du', 'O'),
 ('▁poste', 'O'),
 ('▁', 'O'),
 (',', 'O'),
 ('▁et', 'O'),
 ('▁remplissant', 'O'),
 ('▁par', 'O'),
 ('▁ailleurs', 'O'),
 ('▁les', 'O'),
 ('▁autres', 'O'),
 ('▁conditions', 'O'),
 ('▁habituelle', 'O'),
 ('s', 'O'),
 ('▁d', 'O'),
 ('’', 'O'),
 ('éligibilité', 'O'),
 ('▁à', 'O'),
 ('▁une', 'O'),
 ('▁augmentation', 'O'),
 ('▁', 'O'),
 (',', 'O'),
 ('▁représenter', 'O'),
 ('a', 'O'),
 ('▁5', 'B-ATOT'),
 (',', 'B-ATOT'),
 ('8', 'B-ATOT'),
 ('▁%', 'I-ATOT'),
 ('▁de', 'O'),
 ('▁la', 'O'),
 ('▁masse', 'O'),
 ('▁salariale', 'O'),
 ('.', 'O'),
 ('▁de', 'O'),
 ('▁fait', 'O'),
 ('▁', 'O'),
 (',', 'O'),
 ('▁les', 'O'),
 ('▁primes', 'O'),
 ('▁exprimée', 'O'),
 ('s', 'O'),
 ('▁en', 'O'),
 ('▁pourcentage', 'O'),
 ('▁du', 'O'),
 ('▁salaire', 'O'),
 ('▁de', 'O'),
 ('▁base', 'O'),
 ('▁augmenter', 'O'),
 ('ont', 'O'),
 ('▁ainsi', 'O'),
 ('▁en', 'O'),
 ('▁même', 'O'),
 ('▁temps', 'O'),
 ('▁que', 'O'),
 ('▁le', 'O'),
 ('▁salaire', 'O'),
 ('▁des', 'O'),
 ('▁collaborateurs', 'O'),
 ('▁concernés', 'O'),
 ('.', 'O'),
 ('▁pour', 'O'),
 ('▁rappel', 'O'),
 ('▁', 'O'),
 (',', 'O'),
 ('▁conformément', 'O'),
 ('▁à', 'O'),
 ('▁la', 'O'),
 ('▁politique', 'O'),
 ('▁salariale', 'O'),
 ('▁d', 'B-ENT'),
 ('’', 'B-ENT'),
 ('e', 'B-ENT'),
 ('li', 'B-ENT'),
 ('▁l', 'I-ENT'),
 ('illy', 'I-ENT'),
 ('▁&', 'I-ENT'),
 ('▁ci', 'I-ENT'),
 ('e', 'I-ENT'),
 ('▁', 'O'),
 (',', 'O'),
 ('▁le', 'O'),
 ('▁supervise', 'O'),
 ('ur', 'O'),
 ('▁prend', 'O'),
 ('▁une', 'O'),
 ('▁décision', 'O'),
 ('▁quant', 'O'),
 ('▁à', 'O'),
 ('▁l', 'O'),
 ('’', 'O'),
 ('évolution', 'O'),
 ('▁du', 'O'),
 ('▁salaire', 'O'),
 ('▁de', 'O'),
 ('▁base', 'O'),
 ('▁de', 'O'),
 ('▁son', 'O'),
 ('▁collaborateur', 'O'),
 ('▁dans', 'O'),
 ('▁son', 'O'),
 ('▁échelle', 'O'),
 ('▁', 'O'),
 (',', 'O'),
 ('▁en', 'O'),
 ('▁prenant', 'O'),
 ('▁en', 'O'),
 ('▁considération', 'O'),
 ('▁:', 'O'),
 ('▁sa', 'O'),
 ('▁performance', 'O'),
 ('▁sur', 'O'),
 ('▁l', 'O'),
 ('’', 'O'),
 ('année', 'O'),
 ('▁sa', 'O'),
 ('▁performance', 'O'),
 ('▁dans', 'O'),
 ('▁la', 'O'),
 ('▁durée', 'O'),
 ('*', 'O'),
 ('▁la', 'O'),
 ('▁performance', 'O'),
 ('▁des', 'O'),
 ('▁collègues', 'O'),
 ('▁situés', 'O'),
 ('▁au', 'O'),
 ('▁même', 'O'),
 ('▁niveau', 'O'),
 ('▁de', 'O'),
 ('▁poste', 'O'),
 ('▁le', 'O'),
 ('▁rapport', 'O'),
 ('▁entre', 'O'),
 ('▁sa', 'O'),
 ('▁position', 'O'),
 ('▁dans', 'O'),
 ('▁l', 'O'),
 ('’', 'O'),
 ('échelle', 'O'),
 ('▁de', 'O'),
 ('▁salaire', 'O'),
 ('▁et', 'O'),
 ('▁sa', 'O'),
 ('▁performance', 'O'),
 ('▁dans', 'O'),
 ('▁la', 'O'),
 ('▁durée', 'O'),
 ('▁(', 'O'),
 ('▁*', 'O'),
 ('à', 'O'),
 ('▁partir', 'O'),
 ('▁de', 'O'),
 ('▁20', 'O'),
 ('23', 'O'),
 ('▁', 'O'),
 (',', 'O'),
 ('▁un', 'O'),
 ('▁collaborateur', 'O'),
 ('▁ne', 'O'),
 ('▁répondant', 'O'),
 ('▁pas', 'O'),
 ('▁aux', 'O'),
 ('▁attentes', 'O'),
 ('▁(', 'O'),
 ('▁non', 'O'),
 ('▁éligible', 'O'),
 ('s', 'O'),
 ('▁)', 'O'),
 ('▁pourrait', 'O'),
 ('▁néanmoins', 'O'),
 ('▁bénéficier', 'O'),
 ('▁d', 'O'),
 ('’', 'O'),
 ('une', 'O'),
 ('▁augmentation', 'O'),
 ('▁de', 'O'),
 ('▁salaire', 'O'),
 ('▁pouvant', 'O'),
 ('▁aller', 'O'),
 ('▁jusqu', 'O'),
 ('’', 'O'),
 ('à', 'O'),
 ('▁50', 'O'),
 ('▁%', 'O'),
 ('▁du', 'O'),
 ('▁maximum', 'O'),
 ('▁de', 'O'),
 ('▁la', 'O'),
 ('▁fourchette', 'O'),
 ('▁pre', 'O'),
 ('vue', 'O'),
 ('▁pour', 'O'),
 ('▁son', 'O'),
 ('▁qui', 'O'),
 ('nt', 'O'),
 ('ile', 'O'),
 ('▁', 'O'),
 (',', 'O'),
 ('▁et', 'O'),
 ('▁perce', 'O'),
 ('vra', 'O'),
 ('▁la', 'O'),
 ('▁moitié', 'O'),
 ('▁de', 'O'),
 ('▁son', 'O'),
 ('▁variable', 'O'),
 ('▁)', 'O'),
 ('▁mesure', 'O'),
 ('▁exceptionnelle', 'O'),
 ('▁:', 'O'),
 ('▁les', 'O'),
 ('▁collaborateurs', 'O'),
 ('▁répondant', 'O'),
 ('▁aux', 'O'),
 ('▁attentes', 'O'),
 ('▁du', 'O'),
 ('▁poste', 'O'),
 ('▁', 'O'),
 (',', 'O'),
 ('▁qui', 'O'),
 ('▁remplissent', 'O'),
 ('▁les', 'O'),
 ('▁conditions', 'O'),
 ('▁d', 'O'),
 ('’', 'O'),
 ('éligibilité', 'O'),
 ('▁à', 'O'),
 ('▁une', 'O'),
 ('▁augmentation', 'O'),
 ('▁du', 'O'),
 ('▁salaire', 'O'),
 ('▁de', 'O'),
 ('▁base', 'O'),
 ('▁', 'O'),
 (',', 'O'),
 ('▁et', 'O'),
 ('▁qui', 'O'),
 ('▁sont', 'O'),
 ('▁présents', 'O'),
 ('▁au', 'O'),
 ('▁1', 'O'),
 ('er', 'O'),
 ('▁avril', 'O'),
 ('▁20', 'O'),
 ('23', 'O'),
 ('▁', 'O'),
 (',', 'O'),
 ('▁bénéficier', 'O'),
 ('ont', 'O'),
 ('▁d', 'O'),
 ('’', 'O'),
 ('une', 'O'),
 ('▁garantie', 'O'),
 ('▁d', 'O'),
 ('’', 'O'),
 ('augmentation', 'O'),
 ('▁du', 'O'),
 ('▁salaire', 'O'),
 ('▁de', 'O'),
 ('▁base', 'O'),
 ('▁de', 'O'),
 ('▁1300', 'O'),
 ('€', 'O'),
 ('▁brut', 'O'),
 ('s', 'O'),
 ('▁pas', 'O'),
 ('▁an', 'O'),
 ('.', 'O'),
 ('▁les', 'O'),
 ('▁collaborateurs', 'O'),
 ('▁éligible', 'O'),
 ('s', 'O'),
 ('▁ne', 'O'),
 ('▁pouvant', 'O'),
 ('▁bénéficier', 'O'),
 ('▁du', 'O'),
 ('▁montant', 'O'),
 ('▁total', 'O'),
 ('▁de', 'O'),
 ('▁cette', 'O'),
 ('▁mesure', 'O'),
 ('▁', 'O'),
 (',', 'O'),
 ('▁car', 'O'),
 ('▁atteignant', 'O'),
 ('▁le', 'O'),
 ('▁plafond', 'O'),
 ('▁de', 'O'),
 ('▁leur', 'O'),
 ('▁échelle', 'O'),
 ('▁', 'O'),
 (',', 'O'),
 ('▁se', 'O'),
 ('▁verront', 'O'),
 ('▁verser', 'O'),
 ('▁le', 'O'),
 ('▁complément', 'O'),
 ('▁sous', 'O'),
 ('▁forme', 'O'),
 ('▁de', 'O'),
 ('▁prime', 'O'),
 ('.', 'O'),
 ('▁le', 'O'),
 ('▁montant', 'O'),
 ('▁de', 'O'),
 ('▁l', 'O'),
 ('’', 'O'),
 ('augmentation', 'O'),
 ('▁sera', 'O'),
 ('▁pro', 'O'),
 ('ra', 'O'),
 ('té', 'O'),
 ('▁pour', 'O'),
 ('▁les', 'O'),
 ('▁collaborateurs', 'O'),
 ('▁à', 'O'),
 ('▁temps', 'O'),
 ('▁partiel', 'O'),
 ('s', 'O'),
 ('.', 'O'),
 ('▁date', 'O'),
 ('▁d', 'O'),
 ('’', 'O'),
 ('application', 'O'),
 ('▁:', 'O'),
 ('▁les', 'O'),
 ('▁évolutions', 'O'),
 ('▁de', 'O'),
 ('▁salaire', 'O'),
 ('▁prévues', 'O'),
 ('▁au', 'O'),
 ('▁présent', 'O'),
 ('▁article', 'O'),
 ('▁seront', 'O'),
 ('▁applicables', 'O'),
 ('▁au', 'O'),
 ('▁1', 'B-DATE'),
 ('er', 'B-DATE'),
 ('▁mars', 'I-DATE'),
 ('▁20', 'I-DATE'),
 ('23', 'I-DATE'),
 ('.', 'I-DATE'),
 ('▁article', 'O'),
 ('▁2', 'O'),
 ('▁:', 'O'),
 ('▁prime', 'O'),
 ('▁exceptionnelle', 'O'),
 ('▁pour', 'O'),
 ('▁les', 'O'),
 ('▁collaborateurs', 'O'),
 ('▁dont', 'O'),
 ('▁la', 'O'),
 ('▁position', 'O'),
 ('▁dans', 'O'),
 ('▁l', 'O'),
 ('’', 'O'),
 ('échelle', 'O'),
 ('▁est', 'O'),
 ('▁égale', 'O'),
 ('▁ou', 'O'),
 ('▁supérieure', 'O'),
 ('▁à', 'O'),
 ('▁1', 'O'),
 (',', 'O'),
 ('25', 'O'),
 ('▁de', 'O'),
 ('▁leur', 'O'),
 ('▁échelle', 'O'),
 ('▁:', 'O'),
 ('▁pour', 'O'),
 ('▁les', 'O'),
 ('▁collaborateurs', 'O'),
 ('▁justifiant', 'O'),
 ('▁d', 'O'),
 ('’', 'O'),
 ('une', 'O'),
 ('▁présence', 'O'),
 ('▁effective', 'O'),
 ('▁de', 'O'),
 ('▁3', 'O'),
 ('▁mois', 'O'),
 ('▁minimum', 'O'),
 ('▁en', 'O'),
 ('▁2022', 'O'),
 ('▁', 'O'),
 (',', 'O'),
 ('▁présents', 'O'),
 ('▁au', 'O'),
 ('▁1', 'O'),
 ('er', 'O'),
 ('▁avril', 'O'),
 ('▁20', 'O'),
 ('23', 'O'),
 ('▁', 'O'),
 (',', 'O'),
 ('▁répondant', 'O'),
 ('▁aux', 'O'),
 ('▁attentes', 'O'),
 ('▁du', 'O'),
 ('▁poste', 'O'),
 ('▁et', 'O'),
 ('▁dont', 'O'),
 ('▁la', 'O'),
 ('▁position', 'O'),
 ('▁dans', 'O'),
 ('▁l', 'O'),
 ('’', 'O'),
 ('échelle', 'O'),
 ('▁est', 'O'),
 ('▁supérieure', 'O'),
 ('▁à', 'O'),
 ('▁1', 'O'),
 (',', 'O'),
 ('25', 'O'),
 ('▁', 'O'),
 (',', 'O'),
 ('▁une', 'O'),
 ('▁prime', 'O'),
 ('▁de', 'O'),
 ('▁1300', 'O'),
 ('▁€', 'O'),
 ('▁brut', 'O'),
 ('s', 'O'),
 ('▁sera', 'O'),
 ('▁versée', 'O'),
 ('▁en', 'O'),
 ('▁mars', 'O'),
 ('▁20', 'O'),
 ('23', 'O'),
 ('.', 'O'),
 ('▁ce', 'O'),
 ('▁montant', 'O'),
 ('▁sera', 'O'),
 ('▁pro', 'O'),
 ('ra', 'O'),
 ('té', 'O'),
 ('▁pour', 'O'),
 ('▁les', 'O'),
 ('▁collaborateurs', 'O'),
 ('▁à', 'O'),
 ('▁temps', 'O'),
 ('▁partiel', 'O'),
 ('s', 'O'),
 ('.', 'O'),
 ('▁article', 'O'),
 ('▁3', 'O'),
 ('▁:', 'O'),
 ('▁promotions', 'O'),
 ('▁et', 'O'),
 ('▁ajustement', 'O'),
 ('s', 'O'),
 ('▁:', 'O'),
 ('▁en', 'O'),
 ('▁20', 'O'),
 ('23', 'O'),
 ('▁', 'O'),
 (',', 'O'),
 ('▁l', 'O'),
 ('’', 'O'),
 ('évolution', 'O'),
 ('▁professionnelle', 'O'),
 ('▁des', 'O'),
 ('▁collaborateurs', 'O'),
 ('▁reste', 'O'),
 ('▁une', 'O'),
 ('▁priorité', 'O'),
 ('.', 'O'),
 ('▁ainsi', 'O'),
 ('▁', 'O'),
 (',', 'O'),
 ('▁0,3', 'O'),
 ('▁%', 'O'),
 ('▁de', 'O'),
 ('▁la', 'O'),
 ('▁masse', 'O'),
 ('▁salariale', 'O'),
 ('▁sera', 'O'),
 ('▁consacrée', 'O'),
 ('▁aux', 'O'),
 ('▁promotions', 'O'),
 ('▁et', 'O'),
 ('▁ajustement', 'O'),
 ('s', 'O'),
 ('▁', 'O'),
 ('.', 'O'),
 ('</s>', -100)]

In [223]:
new_id = {"O":0,"B-SYND":1, "I-SYND":1, "SYND":1, "B-DIR":2, "I-DIR":2, "DIR":2, "B-DATE":4, "I-DATE":4, "DATE":4, "B-ENT":3, "I-ENT":3, "ENT":3, "B-CAD":5, "I-CAD":5, "CAD":5, "B-INT":6, "I-INT":6, "INT":6,"B-OUV":7, "I-OUV":7, "OUV":7, "B-NCAD":8, "I-NCAD":8, "NCAD":8,"B-NOUV":9, "I-NOUV":9, "NOUV":9, "B-TOUS":10,"I-TOUS":10, "TOUS":10, "B-AG CAD":11,"I-AG CAD":11, "AG CAD":11, "B-AG INT":12, "I-AG INT":12, "AG INT":12, "B-AG OUV":13, "I-AG OUV":13, "AG OUV":13,"B-AG NCAD":14, "I-AG NCAD":14, "AG NCAD":14, "B-AG NOUV":15, "I-AG NOUV":15, "AG NOUV":15,"B-AI CAD":16, "I-AI CAD":16,"AI CAD":16,"B-AI INT":17, "I-AI INT":17, "AI INT":17,"B-AI OUV":18, "I-AI OUV":18,"AI OUV":18,"B-AI NCAD":19, "I-AI NCAD":19,"AI NCAD":19,"B-AI NOUV":20, "I-AI NOUV":20, "AI NOUV":20, "B-AG":21, "I-AG":21, "AG":21,"B-AI":22, "I-AI":22,"AI":22,"B-ATOT":23,"I-ATOT":23, "ATOT":23,"B-ATOT CAD":24, "I-ATOT CAD":24, "ATOT CAD":24,"B-ATOT INT":25, "I-ATOT INT":25,"ATOT INT":25,"B-ATOT OUV":26, "I-ATOT OUV":26, "ATOT OUV":26,"B-ATOT NCAD":27, "I-ATOT NCAD":27, "ATOT NCAD":27,"B-ATOT NOUV":28, "I-ATOT NOUV":28, "ATOT NOUV":28,"B-PPV":29, "I-PPV":29, "PPV":29,"B-PPVm":30, "I-PPVm":30, "PPVm":30}
columns = ["formated_text", "new_labels", "word_ids", "aligned_labels"]
new_names = {"formated_text": "text", "new_labels": "label", "word_ids": "word_ids", "aligned_labels": "aligned_labels"}

def tokenize_and_align_data(path_conll:str, new_id:dict):
    #charge and create the df
    df = charge_conll(path_conll)
    df = format_text(df)
    df = format_labels(df)
    df["new_labels"]=df["label"].apply(lambda x: change_ids(x.split(" "), new_id))

    #tokenize and align the text
    df["word_ids"] = df["formated_text"].apply(lambda x: tokenizer(x, is_split_into_words=True).word_ids())
    df["aligned_labels"] = df.apply(lambda x: align_labels(x["word_ids"], x["new_labels"]), axis=1)

    return df

df = tokenize_and_align_data(r"..\..\data\raw\data449.conll", new_id=new_id)
# df = select_and_rename_data(df, selected_columns=["formated_text", "new_labels", "word_ids", "aligned_labels"], new_names=new_names)
df = select_columns(df, columns)
df = df.rename(columns=new_names)
#we check the length of the two columns so that they are of the same dimensions
print(f"nombre de 'aligned_labels' faux: {count_error(df, 'aligned_labels')}")
df

nombre de 'aligned_labels' faux: 0

,text,label,word_ids,aligned_labels
0,"[-DOCSTART-, evolution, des, salaires, de, bas...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[None, 0, 0, 0, 0, 0, 0, 1, 1, 2, 3, 4, 5, 6, ...","[-100, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,"[l’enveloppe, globale, d’augmentation, des, ré...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[None, 0, 0, 0, 1, 2, 2, 2, 3, 4, 4, 5, 5, 6, ...","[-100, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,"[dispositions, au, regard, de, l’implication, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[None, 0, 1, 2, 3, 4, 4, 4, 5, 6, 7, 8, 9, 10,...","[-100, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,"[nous, travaillons, sur, une, politique, de, r...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[None, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 1...","[-100, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,"[protocole, d’accord, négociation, annuelle, o...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 3, ...","[None, 0, 1, 1, 1, 2, 3, 4, 5, 5, 6, 7, 8, 9, ...","[-100, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, ..."
...,...,...,...,...
444,"[negociation, annuelle, 2022., il, a, été, con...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[None, 0, 0, 0, 0, 1, 2, 2, 3, 4, 5, 6, 7, 8, ...","[-100, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
445,"[négociations, annuelles, obligatoires., ii-, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[None, 0, 1, 2, 2, 3, 3, 3, 4, 5, 5, 6, 7, 8, ...","[-100, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
446,"[accord, collectif, 2022, sur, les, salaires, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[None, 0, 1, 2, 3, 4, 5, 6, 6, 7, 8, 8, 9, 10,...","[-100, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
447,"[damart, sa, etablissement., article, i, :, au...","[3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[None, 0, 0, 1, 2, 2, 2, 3, 4, 5, 6, 6, 7, 7, ...","[-100, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
448,"[entre, l’ues, kiabi, ,, représentée, par, ,, ...","[0, 0, 3, 0, 0, 0, 0, 2, 2, 2, 2, 0, 3, 0, 0, ...","[None, 0, 1, 1, 1, 2, 2, 3, 3, 4, 5, 6, 6, 7, ...","[-100, 0, 0, 0, 0, 3, 3, 0, 0, 0, 0, 0, 0, 2, ..."

In [207]:
print(df["aligned_labels"][0])
df_test = df["aligned_labels"].apply(lambda x :change_ids(x, new_id=new_id))
print(df_test[0])

[-100, 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-TOUS', 'I-TOUS', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-ATOT', 'B-ATOT', 'B-ATOT', 'I-ATOT', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-ENT', 'B-ENT', 'B-ENT', 'B-ENT', 'I-ENT', 'I-ENT', 'I-ENT', 'I-ENT', 'I-ENT', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-DATE', 'B-DATE', 'I-DATE', 'I-DATE', 'I-DATE', 'I-DATE', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', -100]
[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 10, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 23, 23, 23, 23, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 4, 4, 4, 4, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None]

In [30]:
example = df.iloc[0]

In [34]:
tokenized_input = tokenizer(example["text"], is_split_into_words=True)
aligned_labels = [-100 if i is None else example[f"label"][i] for i in word_ids]
print(example["label"])
print(len(word_ids))
print(len(aligned_labels))

['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-TOUS', 'I-TOUS', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-ATOT', 'I-ATOT', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-ENT', 'I-ENT', 'I-ENT', 'I-ENT', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-DATE', 'I-DATE', 'I-DATE', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
527
527

In [45]:
list(zip(tokens_mod, aligned_labels))

NameError: name 'tokens_mod' is not defined

## others

Load a dataset for training from Huggingface

In [246]:
# If you like it you can download it
data = import_label_studio_data("../../data/raw/data449.json")

df = pd.DataFrame(data, columns = ['text', 'label'])

In [ ]:
df.head()

In [ ]:
# Load model directly
from transformers import AutoTokenizer, AutoModelForTokenClassification

tokenizer = AutoTokenizer.from_pretrained("distilbert-base-uncased")
model = AutoModelForTokenClassification.from_pretrained("Jean-Baptiste/camembert-ner")

In [243]:
def turn_sentence_to_list(sentence):
    """
    Turn a sentence into a list of tokens

    Args:
        sentence (str): sentence to tokenize

    Returns:
        list: list of tokens
    """
    return [token for token in sentence.split(" ")]

In [247]:
for i in range(len(df["text"])):
    df["text"][i] = turn_sentence_to_list(df["text"][i])

df.head()

,text,label
0,"[evolution, des, salaires, de, base, :, envelo...","{'entities': [(322, 326, 'ATOT'), (161, 179, '..."
1,"[l’enveloppe, globale, d’augmentation, des, ré...","{'entities': [(229, 237, 'OUV'), (239, 247, 'O..."
2,"[dispositions, au, regard, de, l’implication, ...","{'entities': [(101, 105, 'SYND'), (110, 122, '..."
3,"[nous, travaillons, sur, une, politique, de, r...","{'entities': [(165, 172, 'SYND'), (364, 371, '..."
4,"[protocole, d’accord, négociation, annuelle, o...","{'entities': [(73, 82, 'DIR'), (108, 119, 'ENT..."

In [ ]:
length = []

for i in range(len(df["text"])):
    element = df["text"][i]
    length.append(len(element))
    # print(len(df["text"][i]))

In [ ]:
import matplotlib.pyplot as plt
from matplotlib import colors

plt.hist(length, bins=20, color = "lightgreen", edgecolor='black') 

# Add labels and title
plt.xlabel('Longeur (élément)')
plt.ylabel('Fréquence')
plt.title('Histogram de la longueurs des phrases en élément')

# Show the histogram
plt.show()

In [ ]:
import pandas as pd

# Sample DataFrame
data = {
    'text': ["evolution des salaires de base : enveloppe"],
    'label': [{'entities': [(22, 31, 'ATOT')]}]
}

df = pd.DataFrame(data)

# Function to tokenize text while preserving whitespace
def tokenize_text(row):
    text = row['text']
    tokens = []
    start = 0

    for start, end, entity in row['label']['entities']:
        # Add non-entity text
        tokens.extend(text[start:end].split())
        start = end

    # Add any remaining text after the last entity
    tokens.extend(text[start:].split())
    
    return tokens

# Apply the function to create a new column
df['tokenized_text'] = df.apply(tokenize_text, axis=1)

# Display the DataFrame with tokenized text while preserving whitespace
print(df)

In [ ]:
for i in range(len(df["label"])):
    print(df["label"][i]["entities"])

In [ ]:
text = df['text'][0]
text = turn_sentence_to_list(text)
# print(type(text))
tokens = tokenizer(text, is_split_into_words=True)
# print(tokens)

tokens_mod = tokenizer.convert_ids_to_tokens(tokens["input_ids"])
print(tokens_mod)

In [ ]:
word_ids = tokens.word_ids()
# aligned_labels = [-100 if i is None else text["label"][i] for i in word_ids]
for i in word_ids:
    # print(i)
    if i is None:
        print(i)
    else:
        print(text["label"][i])

In [ ]:
import torch
from torch.utils.data import DataLoader

train_dataloader = DataLoader(training_data, batch_size=64, shuffle=True)
test_dataloader = DataLoader(test_data, batch_size=64, shuffle=True)